<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ItisCloudProject</title>
</head>
<body>

    <form action="">
    Login <br>
    <input class="login" name="login" type="text" /> <br>
    Password <br>
    <input class="password" name="password" type="password" /> <br> <br>
    <input class="btn btn-primary" type="submit" value="Login" />
    </form>

</body>
</html>