<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ItisCloudProject</title>
</head>
<body>
    Helo
    <form action="/student" enctype="multipart/form-data" method="get">
        <input class="btn btn-primary" type="submit" value="Student" />
    </form>



    <form action="/teacher" enctype="multipart/form-data" method="get">
        <input class="btn btn-primary" type="submit" value="Teacher" />
    </form>

    <form enctype="multipart/form-data" method="get">
        <input class="btn btn-primary" type="submit" value="Administrator" />
    </form>
</body>
</html>